{% load static %}
{% extends "layout.html" %} 
{% block "pagecontent" %}
<div class="search-container">
    <form action="/search">
        <input type="text" placeholder="Search blogs..." name="q">
        <button type="submit">Search</button>
    </form>
</div>
{%if blogs%}
<div class="blog-container">
    {%for blog in blogs%}
    <a href="/blogs/{{blog.id}}">
        <div class="blog-card">
            {% comment %} <div class="card-image">
                    <img src="{{blog.blog_image.url}}" alt="">
            </div> {% endcomment %}
            <div class="card-image">
                {% if blog.title == "C++" %}
                    <img src="{% static 'images/c_OiF8xkD.png' %}" alt="">
                {% elif blog.title == "Javascript" %}
                    <img src="{% static 'images/Java.jpeg' %}" alt="">
                {% elif blog.title == "Python" %}
                    <img src="{% static 'images/Python_6FfHfKg.png' %}" alt="">
                {% elif blog.blog_image %}
                    <img src="{{ blog.blog_image.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="blog image">
                {% endif %}
            </div>

            <div class="card-content">
                <span>{{blog.title}}</span>
                <hr>
                <p>{{blog.description}}</p>
                <p><strong>By:</strong> {{ blog.user.first_name }} {{ blog.user.last_name }}</p>
                <p>Create Date:{{blog.created_at}}</p>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
{%else%}
<h1>No Blogs Found!!</h1>
{%endif%}
{% endblock %}