{% extends "layout.html" %} 
{% block "pagecontent" %}
<div class="search-container">
    <form action="/search">
        <input type="text" placeholder="Search blogs..." name="q">
        <button type="submit">Search</button>
    </form>
</div>
{%if blogs%}
<div class="blog-container">
    {%for blog in blogs%}
    <a href="/blogs/{{blog.id}}">
        <div class="blog-card">
            <div class="card-image">
                {% if blog.blog_image %}
                    <img src="{{blog.blog_image.url}}" alt="">
                {% else %}
                    <p>No image</p>
                {% endif %}
            </div>

            <div class="card-content">
                <span>{{blog.title}}</span>
                <hr>
                <p>{{blog.description}}</p>
                <p><strong>By:</strong> {{ blog.user.first_name }} {{ blog.user.last_name }}</p>
                <p>Create Date:{{blog.created_at}}</p>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
{%else%}
<h1>No Blogs Found!!</h1>
{%endif%}
{% endblock %}