{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogbeat</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>
  <body>
    <header>
      <div>
        <img src="{%static 'images/brandicon1.webp'%}" alt="brandimage" />
        <span>BlogBeat</span>
        {% if user.is_authenticated %}
        <span style="font-size: 16px; margin-left:10px;">Hello {{request.user.first_name}} {{request.user.last_name}}!</span>
        {% else %}

        {% endif %}
      </div>

      <nav>
        {% if user.is_authenticated%}
        <a href="/add-blog">Add Blog</a>
        <a href="/home">All Blogs</a>
        <a href="/my-blogs">My Blogs</a>
        <a href="/accounts/logout/">Logout</a>
        {% else %}
        <a href="/">SignUp</a>
        <a href="accounts/login/">Login</a>
        {% endif %}
      </nav>
    </header>
    {% block "pagecontent" %} 
    {% endblock %}
  </body>
</html>
